<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retailys coding test</title>
</head>
<body>
    <h1>Menu</h1>
    <ul>
        {% for task_num in [1, 2, 3] %}
            <li><a href="{{ url_for("task", task_num=task_num) }}">Task {{ task_num }}</a></li>
        {% endfor %}
    </ul>
    <hr />
    {% block content %}{% endblock %}
</body>
</html>